.about
{
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#headshot
{
  width: 20vw;
  position: fixed;
  top: 20vh;
  left: 20vw;
}

h1
{
  position: fixed;
  top: 17vh;
  left: 45vw;
  color: #686868;
  font-size: 5vh;
}

p
{
  position: fixed;
  top: 27vh;
  left: 45vw;
  color: black;
  height: 30vh;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.2vh;
}

.email-text
{
  display: inline;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.2vh;
}

.social-images
{
  position: fixed;
  list-style-type: none;
  top: 70vh;
  left: calc(45vw - 54px);
}

.social-images img
{
  height: 7vh;
}

.social-link
{
  vertical-align: middle;
  display: inline;
  list-style-type: none;
  margin-left: 1vw;
}
