.footer
{
  height: 20vh;
  width: 100%;
  top: 2vh;
  position: relative;
  text-align: center;
  background-color: ;
  background-color: #2e2e2e;
}

.footer-disclaimer
{
  position: relative;
  top: 2vh;
  padding: 0;
  margin: 0;
}

.footer-disclaimer-text
{
  text-align: center;
  color: grey;
  padding: 0;
  margin: 0;
}

.footer-social-links
{
  position: relative;
  top: 2vh;
  padding: 0;
}

.footer-social-link-1
{
  display: inline;
  list-style-type: none;
}

.footer-social-link-2
{
  display: inline;
  list-style-type: none;
  margin-left: 1vw;
}

.footer-social-link-3
{
  display: inline;
  list-style-type: none;
  margin-left: 1vw;
}

.footer-social-links img
{
  position: relative;
  height: 3vh;
  width: 3vh;
  opacity: 0.8;
}
