.header-space
{
  height: 50px;
  vertical-align: middle;
}

.header
{
		background-color: #D0D0D0;
		width: 100%;
    height: 50px;
    position: fixed;
		top: 0px;
		left: 0px;
		z-index: 90;
}

ul
{
  position:relative;
  top:0%;
}

ul li
{
  display: inline;
  float:right;
}

.navlink a
{
  text-decoration: none;
  padding: 15px;
  color: #686868;
  font-family: Verdana, Geneva, sans-serif;
}

.navlink a:hover {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}

.website-logo
{
  float:left;
}

.website-name
{
  display: inline;
  position: fixed;
  font-size: large;
  color: #404040;
  margin-left: 10px;
  left: calc(2.5vw + 40px);
  top: 0px;
  padding: 15px;
  font-family: Verdana, Geneva, sans-serif;
}

.website-link
{
  position: fixed;
  width: 15vw;
  top: 0;
  left: 1vw;
  height: 50px;
  display: block;
  z-index: 100;
}

.website-link a
{
  position: fixed;
  width: 15vw;
  top: 0;
  left: 1vw;
  height: 50px;
  display: block;
  z-index: 100;
}

.profile-picture
{
  display: inline;
  position: fixed;
  top: 1vw;
  left: 2.5vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.slide-container
{
  width: 45vw;
  height: 30vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.project-image-container
{
  width: calc(45vw*5);
  height: 35vw;
  position: relative;
  transition: left 1s;
  left: 0;
}

.project-image-container img
{
  width: 45vw;
  height: 30vw;
  float: left;
  margin: 0;
  padding: 0;
}

.button-container
{
  top: 1.2vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.project-thumbnail img
{
  width: 8vw;
  transition-duration: 0.8s;
}

.project-prev-button img
{
  height: 5.3333vw;
  padding-right: 1vw;
}

.project-next-button img
{
  height: 5.3333vw;
  padding-left: 1vw;
}

.project-thumb2
{
  padding-left: 1.2vw;
}
.project-thumb3
{
  padding-left: 1.2vw;
}
.project-thumb4
{
  padding-left: 1.2vw;
}
.project-thumb5
{
  padding-left: 1.2vw;
}


.set-image-container
{
  width: calc(45vw*5);
  height: 35vw;
  position: relative;
  transition: left 1s;
  left: 0;
}

.set-image-container img
{
  width: 45vw;
  height: 30vw;
  float: left;
  margin: 0;
  padding: 0;
}
.set-thumbnail img
{
  width: 8vw;
  transition-duration: 0.8s;
}

.set-prev-button img
{
  height: 5.3333vw;
  padding-right: 1vw;
}

.set-next-button img
{
  height: 5.3333vw;
  padding-left: 1vw;
}

.set-thumb2
{
  padding-left: 1.2vw;
}
.set-thumb3
{
  padding-left: 1.2vw;
}
.set-thumb4
{
  padding-left: 1.2vw;
}
.set-thumb5
{
  padding-left: 1.2vw;
}
